<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName">
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> 
	
    <bean id="loginAction" class="com.yile.man.index.action.LoginAction" parent="baseAction"/>
    
    <bean id="feedBackAction" class="com.yile.man.index.action.FeedBackAction" parent="baseAction"/>
   
    <bean id="msgAction" class="com.yile.man.index.action.MsgAction" parent="baseAction"/>
   
    <bean id="userMagAction" class="com.yile.man.index.action.UserMagAction" parent="baseAction"/>
  
</beans>



